<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
       <h3>Inbox</h3>
      </section>

      <section>
      <% if @members.any? %>   <%# users with sent/received messages %>
        <ul class="users">
          <% @members.each do |member| %>
          <%= render 'messages/member', user: member %>
          <% end %>
        </ul>
        <%#= will_paginate %>
      <% end %>
      </section>

    </aside>
    <div class="span8">
      <ul class="messages">
        <% @messages.each do |message| %>
          <% if(message.sent_messageable_id = current_user.id) %>
            <li class="self">
              <%= gravatar_for User.find(message.sent_messageable_id)%>
              <span class="contentm"><%= wrap(message.body) %></span>
              <span class="timestamp">
                <%= time_ago_in_words(message.created_at) %> ago
              </span>   
            </li>
          <% else %>
            <li>
              <%= gravatar_for User.find(message.sent_messageable_id) %>
              <span class="contentm"><%= wrap(message.body) %></span>
              <span class="timestamp">
                <%= time_ago_in_words(message.created_at) %> ago
              </span> 
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Sample App</h1>

    <h2>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>

    <%=link_to "Sign up now!", signup_path, class:"btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>


